body {
    background-color: rgb(185, 156, 87);
}


h1{background-color: brown; 
    text-align: center; 
    color: white ; 
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: underline;
  text-decoration-style: double;
    text-transform: uppercase;
      text-shadow: 2px 2px darkblue

}

    h2{background-color: darkgoldenrod; 
        text-align: center; 
        color: white;
}

.introduccion{
    background-color: rgb(236, 213, 177);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 5px;

}

.menu{
    background-color: darkgoldenrod;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1px;
}

.links{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    padding: 5px;
    font-size: 13px;
}

#generaciones{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    padding: 5px;
    font-size: 18px;
}

#decisiones{
    color: black;
  font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    font-size: 14px;
}

#formato{
    background-color: darkgoldenrod;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    padding: 5px;
}

#personajes{
    background-color: brown;
    color: black;
     font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 5px;
}